<!DOCTIPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
    </head>
    <body>
        <h1>CSS Animation</h1>
        <div class="content1">
            <h2>①要素をホバーしたときにアニメーションを付ける</h2>
            <div class="box-hover"></div>
            <h2>これにアニメーションを付けると…</h2>
            <div class="box-animation"></div>
        </div>
        <div class="content2">
            <h2>②要素にクラスを付けたり消したりしてアニメーションさせる</h2>
            <div class="box"></div>
            <input class="button" type="button" value="要素を動かす">
            <script type="text/javascript">
                var $box = $('.box');
                var $button = $('.button');
                $button.on('click', function(){
                    $box.toggleClass('active');
                });
            </script>
        </div>
        <div class="content3">
            <h2>③CSS Transitionを利用したアニメーションのイベントを取得する</h2>
            <div class="box_trans"></div>
            アニメーション回数：<span class="count"></span>
            <script type="text/javascript">
                var $box_trans = $('.box_trans');
                var $count = $('.count');
                var count = 1;

                $box_trans.on('transitionend webkitTransitionEnd', function(e){
                    if (e.originalEvent.propertyName === 'width') {
                        $count.text(count++);
                    }
                });
            </script>
        </div>
        <div class="content4">
            <h2>④CSS Animationを利用したアニメーションを実装する</h2>
            <div class="box-rotation"></div>
        </div>
        <div class="content5">
            <h2>⑤CSS Animationを利用したアニメーションのイベントを取得する</h2>
            <div class="box_rotate_event"></div>
            アニメーション回数：<span class="count_rotate"></span>
            <input class="button_rotate" type="button" value="アニメーション開始">
            <script type="text/javascript">
                var $box_rotate_event = $('.box_rotate_event');
                var $button_rotate = $('.button_rotate');
                var $count_rotate = $('.count_rotate');
                var isAnimate = false;
                var count_rotate = 0;

                $button_rotate.on('click', function(){
                    if (isAnimate) {
                        return;
                    }
                    $button_rotate.val('アニメーション中');
                    $box_rotate_event.addClass('animation');
                    isAnimate = true;
                });

                $box_rotate_event.on('animationend webkitTransitionEnd', function(){
                    count_rotate++;
                    $button_rotate.val('アニメーション開始');
                    $box_rotate_event.removeClass('animation');
                    $count_rotate.text(count_rotate);
                    isAnimate = false;
                });
            </script>
        </div>
    </body>
</html>